body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
h1{
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 400px;
    width: 400px;
    border: solid 1px #333333;
    margin: 20px;
}
.pixel {
    background-color: rgb(219, 223, 223, 10);
}
button {
    margin: 4px;
    padding: 8px;
    border: none;
}
.color {
    border: none;
}
input {
    margin: 4px;
}